[MASTER]
init-hook='import sys; sys.path.insert(0, ".")'

[MESSAGES CONTROL]
disable=
    missing-function-docstring,
    missing-class-docstring,
    invalid-name,
    duplicate-code,
    wrong-import-position,
    import-outside-toplevel,
    protected-access,
    too-few-public-methods,
    trailing-newlines,
    arguments-differ,
    subprocess-run-check,
    unspecified-encoding,
    use-implicit-booleaness-not-comparison,
    attribute-defined-outside-init,
    too-many-arguments,
    too-many-positional-arguments,

[IMPORTS]
known-third-party=pytest

[FORMAT]
max-line-length=120

[DESIGN]
max-locals=16
